<div class="media mb-4 mt-6"><span class="fa-stack mr-2 ml-n1">
  <i class="fa-inverse fa-stack-1x text-primary fas fas fa-users" data-fa-transform="shrink-2"></i></span>
  <div class="media-body">
    <h5 class="mb-0 text-primary position-relative"><span class="bg-200 pr-3">Listado de Roles y permisos</span><span
          class="border position-absolute absolute-vertical-center w-100 z-index--1 l-0"></span></h5>
  </div>
</div>
<!-- save edit from -->
<div class="card">
  <div class="card-header">
    <form name="userF">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputPassword4">Nombre</label>
          <input type="text" class="form-control" id="inputName" ng-model="vm.unit.nombre" alpha required>
        </div>
      </div>
      <!-- editing ng-disabled="userF.$invalid"-->
      <div class="form-group col-md-4" ng-if="vm.editing">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-success" ng-disabled="userF.$invalid" ng-click="vm.updateUnit(vm.unit)">
            <i class="fas fa-save"></i> Guardar</button>
          <button type="button" class="btn btn-secondary"  ng-click="vm.cancel()">Canelar</button>
        </div>
      </div>
      <!-- save -->
      <div class="form-group col-md-2" ng-if="!vm.editing">
        <button type="submit" ng-disabled="userF.$invalid" class="btn btn-success" ng-click="vm.addUnit(vm.unit)">
          <i class="fas fa-save"></i> Guardar</button>
      </div>
    </form>
    <!-- search -->
    <div class="row">
      <div class="col-md-6">                
        <label>Buscar...</label>
        <input type="text" class="form-control" placeholder="Buscar..." ng-model="vm.filterText"> 
      </div>
      <div class="col-md-4">
        <div class="dropdown mr-1">
          <div class="form-group">
            <label for="cantidad">No. usuarios por página <b>{{vm.data_page}}</b></label>
            <select class="custom-select custom-select-sm ml-2" ng-model="vm.data_page" ng-options="item for item in vm.pageNumbers"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<!-- role list -->
<div class="card">
  <div class="card-body" ng-init="vm.init()">
    <div class="table-responsive mt-4 fs--1">            
      <table class="table table-striped border-bottom">
          <thead>
              <tr>
                  <th class="align-middle">Nombre</th>
                  <th class="align-middle text-center" >Fecha Registro</th>
                  <th class="align-middle text-center" >Fecha Actualizaci&oacute;n</th>
                  <th class="align-middle data-table-row-action"></th>
              </tr>
          </thead>
          <tbody>
              <tr class="btn-reveal-trigger"
                ng-repeat="unit in vm.data_filter = (vm.units | filter : vm.filterText ).slice((vm.page -1) * vm.data_page, vm.page * vm.data_page)">
                  <td class="align-middle">{{unit.nombre}}</a><br></td>
                  <td class="align-middle text-center">{{unit.fecha_registro | date:"medium"}}</td>
                  <td class="align-middle text-center">{{unit.fecha_actualizacion | date:"medium"}}</td>
                  <td class="align-middle white-space-nowrap">
                    <div class="dropdown text-sans-serif">
                      <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3"
                        type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="html"
                        aria-haspopup="true" aria-expanded="false"><span
                        class="fas fa-ellipsis-h fs--1"></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right border py-0"
                        aria-labelledby="dropdown0">
                        <div class="bg-white py-2">
                          <a class="dropdown-item" href="" ng-click="vm.editUnit(unit)">Editar<span
                            class="ml-1 far fa-edit"
                            data-fa-transform="shrink-2"></span></a>
                      </div>
                      </div>                        
                  </td>
              </tr>    
          </tbody>
      </table>
      <uib-pagination total-items="vm.data.length" ng-model="vm.page" max-size="6"
          boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;"
          items-per-page="vm.data_page">
      </uib-pagination>
    </div>   
  </div>
</div>