<div class="card" ng-init="vm.init()">
    <div class="card-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-sm-12 ml-12 text-right pl-0">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <a class="btn btn-outline-primary rbtn-sm" href="#!tramites/Proceso">
                <span class="fas fa-list"></span> Licencias en Proceso </a>
              <a class="btn btn-outline-secondary rbtn-sm" href="#!review">
                <span class="fas fa-edit"></span> Revisar Formulario </a>
              <a class="btn btn-outline-danger rbtn-sm" 
                ng-if="vm.license.order.validada == false && vm.canDeleteOrder" data-bs-toggle="modal" data-bs-target="#rejectObsModal">
                <span class="fas fa-edit"></span> Eliminar Orden </a>
              <a class="btn btn-outline-success rbtn-sm" 
                ng-if="vm.license.order.validada == false && vm.canValidateOrder" data-bs-toggle="modal" data-bs-target="#validateModal">
                <span class="fas fa-edit"></span> Validar Orden </a>
              <a class="btn btn-outline-secondary rbtn-sm" 
                ng-if="vm.license.order != null" ng-click="vm.pdf()">
                <span class="fas fa-file-pdf"></span> Ver Orden </a>
            </div>
          </div>
        <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
          <h2 class="fs-0 mb-0 text-nowrap py-2 py-xl-0"> 
            <label>
                <b>{{vm.license.license_type.nombre}}</b><br>
                <b>{{vm.license.license_type.nota}}</b><br>
                No. Folio <b>{{vm.license.folio != null ? vm.license.folio : vm.license.id}}</b> <br>
                Estatus: <b>{{vm.license.estatus}}</b><br>
                <br>Orden de pago<br> 
                <b>OC-{{vm.license.folio}}</b><br>
                <div ng-switch="vm.license.order.validada">
                    <div ng-switch-when="true">
                      <b><font color="green">Orden Validada.</font></b>
                    </div>
                    <div ng-switch-when="false">
                        <b><font color="orange">Orden Por Validar.</font></b>
                    </div>
                    <div ng-switch-default>
                        <b><font color="red">Sin Orden Generada.</font></b>
                    </div>
                </div><br>
                Fecha de generaci&oacute;n.<br>
                <b>{{vm.license.order.fecha_registro | date:"medium"}}</b><br><br>
                Fecha de &uacute;ltima actualizaci&oacute;.<br>
                <b>{{vm.license.order.fecha_registro | date:"medium"}}</b><br><br>
                Fecha de autorizaci&oacute;n.<br>
                <b>{{vm.license.order.fecha_autorizacion | date:"medium"}}</b><br><br>                
            </label>
          </h2>
        </div>
        <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-body text-info">
                    <p>
                        <b>{{vm.license.license_type.nombre}}</b><br>
                        <b>{{vm.license.license_type.nota}}</b><br>
                    </p>
                    <p ng-if="vm.license.ad != null">
                        Medidas del anuncio. <b>{{vm.license.ad.colocacion == true ? 'Colocaci&oacute;n' : 'Renovaci&oacute;n'}}</b><br>
                        Alto. <b>{{vm.license.ad.alto}}</b><br>
                        Ancho. <b>{{vm.license.ad.ancho}}</b><br>
                        Largo. <b>{{vm.license.ad.largo}}</b><br>
                        Cantidad de anuncios. <b>{{vm.license.ad.cantidad}}</b><br>
                    </p>
                    <p ng-if="vm.license.construction != null">
                        Sup. construci&oacute;n total. <b>{{vm.license.construction.sup_total_amp_reg_const}} m2</b>
                    </p>
                    <p>
                        Tipo de pol&iacute;gono. <b>{{vm.license.property.poligono}}</b>
                    </p>
                    <p ng-if="vm.license.license_type_id == 16">
                        Uso de Suelo.<br> 
                            <b>{{vm.license.compatibility_certificate.land_use.nombre}}</b><br>
                            <b>{{vm.license.compatibility_certificate.land_use_description.descripcion}}</b>
                    </p>
                </div>                    
            </div>
        </div>
      </div>
    </div>
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h4 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{{vm.license.order == null ? 'Generación' : 'Revisión'}} Ficha de Cobro</h4>
            </div>
            <div class="col-8">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" ng-model="vm.filterText" placeholder="Buscar"
                        aria-label="Buscar derecho" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-auto ml-auto text-right pl-0">
            <div id="dashboard-actions">                   
                <a class="btn btn-outline-secondary rounded-capsule btn-sm" 
                    ng-if="vm.solicitud.is_der == 1" ng-click="vm.view_orden(vm.solicitud.public_id)"><span
                    class="fas fa-file-pdf"></span> Vista previa</a>
                <a class="btn btn-outline-success rounded-capsule btn-sm" 
                    ng-if="vm.solicitud.is_der == 1" ng-click="vm.orden(true)"><span
                    class="fas fa-file-signature"></span> Validar</a>
            </div>
        </div>            
    </div>
    <div class="card-body p-0">
        <div class="row bg-200 text-900 no-gutters px-1 fs--1 font-weight-semi-bold">
            <div class="col-9 col-md-8 p-2 px-md-3">Cuenta</div>
            <div class="col-3 col-md-4 px-3">
                <div class="row">
                    <div class="col-md-4 py-2 d-none d-md-block text-center">Cantidad</div>
                    <div class="col-12 col-md-4 text-right p-2 px-md-3">Precio</div>
                </div>
            </div>
        </div>
        <div class="row no-gutters align-items-center px-1 border-bottom border-200"
            ng-repeat="item in vm.data_filter = (vm.duties | filter : vm.filterText ).slice((vm.page -1) * vm.data_page, vm.page * vm.data_page)">
            <div class="col-8 py-3 px-2 px-md-3">
                <div class="media align-items-center">
                    <div class="media-body">
                        {{item.cuenta}}<br>
                        {{item.Descripcion}}
                    </div>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="row">
                    <div
                        class="col-md-4 d-flex justify-content-end justify-content-md-center px-2 px-md-3 order-1 order-md-0">
                        <div>
                            <div class="input-group input-group-sm">
                                <input class="form-control text-center px-2 input-quantity input-spin-none" id="input_{{item.id}}"
                                    type="number" min="0" ng-model="item.cantidad" style="max-width: 100px" />
                                <button class="btn btn-sm btn-outline-secondary border-300 px-2" id="btn_{{item.id}}"
                                    ng-click="vm.add(item)">+</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.monto != null" class="col-md-4 text-right pl-0 pr-2 pr-md-3 order-0 order-md-1 mb-2 mb-md-0 text-600">
                        {{item.monto | currency}}
                    </div>
                    <div ng-if="item.monto == null">
                        <div class="input-group input-group-sm" class="col-md-4 text-right pl-0 pr-2 pr-md-3 order-0 order-md-1 mb-2 mb-md-0 text-600">
                            <input class="form-control text-center px-2 input-quantity input-spin-none" id="input_{{item.id}}"
                                type="number" min="0" ng-model="item.precio" style="max-width: 100px" />
                            <button class="btn btn-sm btn-outline-secondary border-300 px-2" id="btn_{{item.id}}"
                                disabled>Precio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <uib-pagination total-items="vm.duties.length" ng-model="vm.page" max-size="6" boundary-link-numbers="true"
            rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="vm.data_page">
        </uib-pagination>

        <div class="table-responsive mt-4 fs--1">
            <table class="table table-striped border-bottom">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Cuenta</th>
                        <th class="border-0 text-right">Cantidad</th>
                        <th class="border-0 text-right">Unidad</th>
                        <th class="border-0 text-right">Precio</th>
                        <th class="border-0 text-right">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.dutiesPayload">
                        <td>
                            <h6>
                                {{item.cuenta}}<br>
                                {{item.descripcion}}
                            </h6>
                            <div class="fs--2 fs-md--1"><a class="text-danger"
                                    ng-click="vm.remove($index)">Eliminar</a></div>
                        </td>
                        <td class="align-middle text-right">{{item.unidad}}</td>
                        <td class="align-middle text-center">{{item.cantidad}}</td>
                        <td class="align-middle text-right">{{item.monto | currency}}</td>
                        <td class="align-middle text-right">{{item.total | currency}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row font-weight-bold px-1">
                <div class="col-9 col-md-8 py-2 py-0 px-md-3 text-right text-900">Total</div>
                <div class="col px-3">
                    <div class="row no-gutters">
                        <div class="col-md-8 py-2 d-none d-md-block text-center"> {{vm.dutiesPayload.length}}(items)</div>
                        <div class="col-12 col-md-4 text-right py-2 pr-md-3 pl-0">{{vm.total | currency : "$":2}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-light">
        <div class="col-auto">
            <form ng-submit="vm.send(false)">
                <button type="submit" class="btn btn-primary col-md-3">Guardar</button>
            </form>
        </div>
    </div>
</div>

<!-- cancelacion y observaciones-->
<div class="modal fade" id="rejectObsModal" tabindex="-1" role="dialog" aria-labelledby="rejectObsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectObsModalLabel">Eliminar Orden de Cobro OC-{{vm.license.folio}}</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="font-weight-light"
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Est&aacute; a punto de <b>Eliminar</b> la orden de cobro de <b>{{vm.license.license_type.nombre}} {{vm.license.license_type.nota}}</b> con Folio. <b>{{vm.license.folio}}</b>.</p>
        <b>Esta orden no podr&aacute; ser restaurada.</b>
        <input type="password" ng-model="vm.license.contrasenia" class="form-control mt-2" placeholder="Contraseña" 
          required autocomplete="new-password">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-danger btn-sm" type="button" data-bs-dismiss="modal" ng-click="vm.delete()">Eliminar</button>
      </div>
    </div>
    </div>
</div>

<!-- autorizacion-->
<div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validateModalLabel">Autorizar Orden de Cobro OC-{{vm.license.folio}}</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="font-weight-light"
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Est&aacute; a punto de <b>Autorizaar</b> la orden de cobro de <b>{{vm.license.license_type.nombre}} {{vm.license.license_type.nota}}</b> con Folio. <b>{{vm.license.folio}}</b>.</p>
        <b>Esta orden no podrá ser eliminada y ser&aacute; visible por el solicitante.</b>
        <input type="password" ng-model="vm.license.contrasenia" class="form-control mt-2" placeholder="Contraseña" 
          required autocomplete="new-password">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-success btn-sm" type="button" data-bs-dismiss="modal" ng-click="vm.validate()">Validar</button>
      </div>
    </div>
    </div>
</div>