<div class="card" ng-init="vm.init()">
  <div class="card-header">
    <div class="row align-items-center justify-content-between">
      <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
        <h1 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">
          Navegación Rápida
        </h1>
      </div>
      <div class="col-6 col-sm-auto ml-auto text-right pl-0">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-outline-primary rbtn-sm" href="#!tramites/Proceso">
            <span class="fas fa-list"></span> Licencias en Proceso </a>
          <a class="btn btn-outline-secondary rbtn-sm" href="#!license_reqs">
            <span class="fas fa-file-upload"></span> Revisar Requisitos </a>
        
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
              Cambiar Estatus
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#validationModal" href="#" 
                  ng-if="vm.canValidateEntry" ng-click="vm.setValLabels(0)" >Ingreso Validado</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rejectObsModal" href="#"
                ng-if="vm.canValidateEntry" ng-click="vm.setObsLabels(0)">Docs. con Observaciones</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#validationModal" href="#" 
                  ng-if="vm.canValidateDocsPlans" ng-click="vm.setValLabels(1)" >Validar Documentos y Planos</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rejectObsModal" href="#" 
                  ng-if="vm.canValidateDocsPlans" ng-click="vm.setObsLabels(1)" >Tr&aacute;mite con Observaciones</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#rejectObsModal" 
                  ng-click="vm.setObsLabels(2)">Rechazar Solicitud</a></li>
            </ul>
          </div>
          <a class="btn btn-outline-secondary rbtn-sm" ng-click="vm.preview()">
            <span class="fas fa-file-pdf"></span> Vista previa </a>
        </div>
      </div>
    </div><br>
    <div class="row align-items-center justify-content-between">    
      <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
        <h2 class="fs-0 mb-0 text-nowrap py-2 py-xl-0"> 
          <label>
            <b>{{vm.license.license_type.nombre}}</b><br>
            <b>{{vm.license.license_type.nota}}</b><br>
            No. Folio <b>{{vm.license.folio != null ? vm.license.folio : vm.license.id}}</b> <br>
            Estatus: <b>{{vm.license.estatus}}</b>
          </label>
        </h2>
      </div>
    </div>    
  </div>
</div><br>
<form-review-component 
  license="vm.license" folios="vm.foliosList"
  ></form-review-component>

<!-- modals -->
<!-- enviar solicitud -->
<div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validationModalLabel">Validar la Solicitud No. {{vm.license.folio}}</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="font-weight-light"
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Está a punto de <b>{{vm.stepValLabel}}</b> de la <b>{{vm.license.license_type.nombre}} {{vm.license.license_type.nota}}</b> con No. <b>{{vm.license.folio}}</b>
        <p>Asegurece de haber revisado toda la información y requisitos necesarios.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary btn-sm" type="button" data-bs-dismiss="modal" ng-click="vm.validations(vm.statusInt)">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- cancelacion y observaciones-->
<div class="modal fade" id="rejectObsModal" tabindex="-1" role="dialog" aria-labelledby="rejectObsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectObsModalLabel">Observaciones en trámite {{vm.license.folio}}</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="font-weight-light"
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Está a punto de <b>{{vm.stepObsLabel}}</b> el trámite <b>{{vm.license.license_type.nombre}} {{vm.license.license_type.nota}}</b> con Folio. <b>{{vm.license.folio}}</b>.</p>
        <b ng-if="vm.statusInt == 16">Esta solicitud no podrá ser restaurada.</b>
        <textarea class="form-control" ng-model="vm.license.observacion" rows="3" placeholder="Observaciones" required></textarea>
        <input type="password" ng-model="vm.license.contrasenia" class="form-control mt-2" placeholder="Contraseña" 
          required autocomplete="new-password" ng-if="vm.statusInt == 16">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-danger btn-sm" type="button" data-bs-dismiss="modal" ng-click="vm.observations(vm.statusInt)">Guardar</button>
      </div>
    </div>
    </div>
</div>